services:
  mariadb:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: supersecure
      MYSQL_DATABASE: agenda
      MYSQL_USER: user
      MYSQL_PASSWORD: md_pass
    ports:
      - "3308:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      - mariadb
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_DATABASE: agenda
      DB_USERNAME: user
      DB_PASSWORD: md_pass

  frontend:
    build: ./frontend
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  mariadb_data: