apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: agenda
data:
  DB_CONNECTION: "mysql"
  DB_HOST: "mariadb-service"
  DB_DATABASE: "agenda"
  DB_USERNAME: "user"
  DB_PASSWORD: "md_pass"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: agenda
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: agenda-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        envFrom:
        - configMapRef:
            name: backend-config
        env: # Ajout pour charger l'APP_KEY
        - name: APP_KEY
          valueFrom:
            secretKeyRef:
              name: backend-app-secret 
              key: APP_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: agenda
spec:
  selector:
    app: backend
  ports:
  - port: 8000
    targetPort: 8000
