# --- 1. PersistentVolumeClaim (PVC) ---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-pvc
  namespace: agenda
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi 
---
# --- 2. StatefulSet ---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mariadb
  namespace: agenda
spec:
  serviceName: "mariadb-service"
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:12.0
          imagePullPolicy: IfNotPresent
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: backend-app-secret
                  key: APP_KEY
            - name: MYSQL_DATABASE
              value: "agenda"
            - name: MYSQL_USER
              value: "user" 
            - name: MYSQL_PASSWORD 
              value: "md_pass"
          # Ajout de la commande pour forcer la collation
          args:
            - "--character-set-server=utf8mb4"
            - "--collation-server=utf8mb4_unicode_ci"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: mariadb-storage
              mountPath: /var/lib/mysql
      volumes:
        - name: mariadb-storage
          persistentVolumeClaim:
            claimName: mariadb-pvc
---
# --- 3. Service ---
apiVersion: v1
kind: Service
metadata:
  name: mariadb-service
  namespace: agenda
spec:
  selector:
    app: mariadb
  ports:
    - port: 3306
      targetPort: 3306