apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: agenda
  labels:
    app: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      serviceAccountName: default # Utilisation du compte de service par défaut
      containers:
      - name: prometheus
        image: prom/prometheus:v2.47.1 # Utilisation d'une version stable au lieu de :latest
        imagePullPolicy: IfNotPresent
        args:
          - "--config.file=/etc/prometheus/prometheus.yml"
          - "--storage.tsdb.retention.time=7d"
          - "--web.enable-lifecycle" 
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: prometheus-config-volume # Nommage cohérent avec la ConfigMap
          mountPath: /etc/prometheus/
        - name: prometheus-storage-volume # Volume pour le stockage des données
          mountPath: /prometheus
      volumes:
      - name: prometheus-config-volume # Montage de la ConfigMap (prometheus-config)
        configMap:
          name: prometheus-config
      - name: prometheus-storage-volume # Stockage temporaire pour Minikube
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: agenda
spec:
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus-ingress
  namespace: agenda
spec:
  rules:
  - host: prometheus.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: prometheus-service
            port:
              number: 9090